# Build directories
build/
cmake-build-*/
daily
logs/

# CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
*.cmake

# vcpkg
vcpkg_installed/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Executable
McpServer

# Python
__pycache__/
*.pyc
.venv/

# OS
.DS_Store

/data/*
/logs/*